<div class="mx-5">
  <h2>Votre panier</h2>
  <ul>
    <li *ngFor="let item of cartItems$ | async">
      {{ item.name }} ({{ item.quantity }}) - {{ item.price | currency : "EUR" }}
      <button
        (click)="removeFromCart(item.id)"
        type="button"
        class="btn btn-outline-danger btn-sm"
      >
        Supprimer du panier
      </button>
    </li>
  </ul>
  <div class="total-container mt-3 p-3 bg-light">
    <p class="text-uppercase fs-5 mb-3 fw-bold">
      Total: {{ cartTotal$ | async | currency : "EUR" }}
    </p>
    <button
      (click)="clearCart()"
      type="button"
      class="btn btn-outline-success btn-sm"
    >
      Payer
    </button>
  </div>
  <div
    *ngIf="message"
    class="alert"
    [ngClass]="{
      'alert-success': message.includes('succès')
    }"
  >
    {{ message }}
  </div>
</div>
