<div class="mx-4">
  <div class="mb-4">
    <h2>Recherche de produits</h2>
    <form class="d-flex flex-row justify-content-around">
      <div class="form-group col-md-3">
        <label class="px-2 py-2" for="name">Recherche de produit :</label>
        <input
          #input
          type="text"
          class="form-control mb-3"
          id="name"
          placeholder="Recherche..."
        />
      </div>
    </form>
    <h2>Produits</h2>
    <div class="card-deck">
      <ng-container *ngIf="(searchField$ | async)?.length > 0">
        <div class="card" *ngFor="let result of searchField$ | async">
          <div class="card-body">
            <h5 class="card-title">{{ result.name }}</h5>
            <img
              [src]="result?.imgurl"
              class="card-img-top"
              alt="Product Image"
            />
            <p class="card-text">{{ result.description }}</p>
            <p class="card-text">{{ result.price | currency : "EUR" }}</p>
            <p class="card-text">{{ result.category }}</p>
            <button
              (click)="addToCart(result)"
              type="button"
              class="btn btn-outline-success btn-sm custom-text-color"
            >
              Ajouter au Panier
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container
        *ngIf="!(searchField$ | async) || (searchField$ | async)?.length === 0"
      >
        <ng-container *ngIf="products$ | async as products">
          <div class="card" *ngFor="let product of products">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <img
                [src]="product?.imgurl"
                class="card-img-top"
                alt="Product Image"
              />
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">{{ product.price | currency : "EUR" }}</p>
              <p class="card-text">{{ product.category }}</p>
              <button
                (click)="addToCart(product)"
                type="button"
                class="btn btn-outline-success btn-sm custom-text-color"
              >
                Ajouter au Panier
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
