<h1 class="pt-4">Votre site E-Commerce de confiance</h1>
<ul class="nav justify-content-end mb-5">
  <li class="nav-item">
    <a class="nav-link active fs-5" routerLink="/accueil" *ngIf="!cnx"
      >Accueil</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link active fs-5" routerLink="/catalogue">Catalogue</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active fs-5" routerLink="/panier"
      >Panier ({{ cartItemCount$ | async }})</a
    >
  </li>
  <li class="nav-item" *ngIf="cnx">
    <a class="nav-link active fs-5" (click)="logout()">Logout</a>
  </li>
</ul>
<main>
  <router-outlet></router-outlet>
</main>
