<div class="container mt-5">
  <h1>Bienvenue sur notre site</h1>
  <p>
    Connectez-vous ou inscrivez-vous pour profiter de toutes les
    fonctionnalités.
  </p>

  <div class="row mt-3">
    <div class="col-md-6">
      <button routerLink="/login" class="btn btn-outline-secondary btn-sm">
        Sign In
      </button>
    </div>
    <div class="col-md-6">
      <button
        routerLink="/create-utilisateur"
        class="btn btn-outline-secondary btn-sm"
      >
        Sign Up
      </button>
    </div>
  </div>
</div>
