.custom-container {
  /* padding-right: 25px;
  padding-left: 25px; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.fixed-header {
  width: 100%;
  z-index: 1000;
}

.flex-grow {
  flex-grow: 1;
}

.fixed-footer {
  width: 100%;
}
