<div class="container mt-5">
  <h2>Formulaire de création utilisateur</h2>
  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <div class="mb-3">
      <label for="firstname" class="form-label">Prénom</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        formControlName="firstname"
        required
      />
    </div>

    <div class="mb-3">
      <label for="lastname" class="form-label">Nom</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastname"
        required
      />
    </div>

    <div class="mb-3">
      <label for="adress" class="form-label">Adresse</label>
      <input
        type="text"
        class="form-control"
        id="adress"
        formControlName="adress"
        required
      />
    </div>

    <div class="mb-3">
      <label for="postalcode" class="form-label">Code Postal</label>
      <input
        type="text"
        class="form-control"
        id="postalcode"
        formControlName="postalcode"
        pattern="[0-9]{5}"
        title="Five-digit postal code"
        required
      />
    </div>

    <div class="mb-3">
      <label for="city" class="form-label">Ville</label>
      <input
        type="text"
        class="form-control"
        id="city"
        formControlName="city"
        required
      />
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        required
      />
    </div>

    <div class="mb-3">
      <label for="sex" class="form-label">Sex</label>
      <div>
        <input
          type="radio"
          id="male"
          formControlName="sex"
          value="M"
          required
        />
        <label for="male">M</label>
      </div>
      <div>
        <input
          type="radio"
          id="female"
          formControlName="sex"
          value="F"
          required
        />
        <label for="female">F</label>
      </div>
    </div>

    <div class="mb-3">
      <label for="login" class="form-label">Login</label>
      <input
        type="text"
        class="form-control"
        id="login"
        formControlName="login"
        required
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <div class="input-group">
        <input
          type="{{ hidePassword ? 'password' : 'text' }}"
          class="form-control"
          id="password"
          formControlName="password"
          required
        />
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="togglePasswordVisibility()"
        >
          {{ hidePassword ? "Show" : "Hide" }}
        </button>
      </div>
    </div>

    <div class="mb-3">
      <label for="phonenumber" class="form-label">Numéro de téléphone</label>
      <input
        type="tel"
        class="form-control"
        id="phonenumber"
        formControlName="phonenumber"
        required
      />
    </div>

    <button type="submit" class="my-3 btn btn-outline-success btn-sm">
      Valider
    </button>
  </form>
  <div *ngIf="message === 'Veuillez remplir tous les champs correctement.'">
    <div class="alert alert-warning">
      {{ message }}
    </div>
  </div>
  <div
    *ngIf="message !== 'Veuillez remplir tous les champs correctement.'"
    class="alert"
    [ngClass]="{
      'alert-success': message.includes('succès'),
      'alert-danger': message.includes('erreur')
    }"
  >
    {{ message }}
  </div>
  <div class="custom-box" *ngIf="create">
    <div>
      <p class="custom-message">Bonjour {{ lastname }} - {{ firstname }}</p>
      <p>
        Rendez-vous dans notre
        <a class="custom-link" routerLink="/catalogue">catalogue</a>
      </p>
    </div>
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      firstnameControl && firstnameControl.hasError('noNumbersOrSpecialChars')
    "
  >
    Le prénom ne peut pas contenir des chiffres ni de caractères spéciaux. Pour
    les noms composés le - est accepté.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      lastnameControl && lastnameControl.hasError('noNumbersOrSpecialChars')
    "
  >
    Le nom de famille ne peut pas contenir des chiffres ni de caractères
    spéciaux. Pour les noms composés le - est accepté.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      addressControl && addressControl.hasError('invalidCharactersAddress')
    "
  >
    Le champ adresse peut contenir uniquement des lettres et chiffres.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="cityControl && cityControl.hasError('noNumbersOrSpecialChars')"
  >
    Le champ ville peut contenir uniquement des lettres.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="postalcodeControl && postalcodeControl.hasError('pattern')"
  >
    Le code postal doit contenir exactement 5 chiffres.
  </div>
  <div
    class="alert alert-danger"
    *ngIf="emailControl && emailControl.hasError('email')"
  >
    L'e-mail doit obligatoirement contenir le @ et un point .
  </div>
  <div
    class="alert alert-danger"
    *ngIf="loginControl && loginControl.hasError('invalidCharactersLogin')"
  >
    Le login peut contenir uniquement des lettres, chiffres et underscores (_).
  </div>
  <div *ngIf="message !== 'Utilisateur ajouté avec succès'">
    <div
      class="alert alert-danger"
      *ngIf="
        phonenumberControl &&
        phonenumberControl.hasError('invalidCharactersPhone')
      "
    >
      Le numéro de téléphone peut contenir uniquement des chiffres.
    </div>
  </div>
</div>
