<div class="container mt-5">
  <h2>Formulaire d'ajout produit</h2>
  <form [formGroup]="productForm" (ngSubmit)="createProduct()">
    <div class="mb-3">
      <label for="name" class="form-label">Nom du produit</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        required
      />
    </div>

    <div class="mb-3">
      <label for="imgurl" class="form-label">URL de l'image</label>
      <input
        type="url"
        class="form-control"
        id="imgurl"
        formControlName="imgurl"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        formControlName="description"
        rows="3"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Prix</label>
      <input
        type="number"
        class="form-control"
        id="price"
        formControlName="price"
        required
      />
    </div>

    <div class="mb-3">
      <label for="category" class="form-label">Catégorie</label>
      <select
        class="form-select"
        id="category"
        formControlName="category"
        required
      >
        <option value="" selected disabled>Sélectionnez une catégorie</option>
        <option value="Categorie 1">Categorie 1</option>
        <option value="Categorie 2">Categorie 2</option>
        <option value="Categorie 3">Categorie 3</option>
      </select>
    </div>

    <button type="submit" class="my-3 btn btn-outline-secondary btn-sm">
      Ajouter produit
    </button>
  </form>
  <div *ngIf="message === 'Veuillez remplir tous les champs correctement.'">
    <div class="alert alert-warning">
      {{ message }}
    </div>
  </div>
  <div
    *ngIf="message !== 'Veuillez remplir tous les champs correctement.'"
    class="alert"
    [ngClass]="{
      'alert-success': message.includes('succès'),
      'alert-danger': message.includes('erreur')
    }"
  >
    {{ message }}
  </div>
</div>
